.price {
  --max-width: #{vw(992, 1440)};
  --padding-side: #{vw(230, 1440)};

  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(var(--max-width), 100% - (var(--padding-side) * 2));
  margin: 0 auto;
  box-sizing: border-box;
  margin-top: auto;
  margin-bottom: rem(30);

  &__count {
    text-align: center;
    font-size: 38px;
    color: var(--black);
    margin-bottom: rem(16);
  }
  &__note {
    font-size: 20px;
    text-align: center;
    color: #3e3b3a;
    margin-bottom: rem(40);
  }
}
.price-line {
  max-width: vw(970, 1440);
  overflow-x: auto;
  border-radius: 1000px;
  padding: 4px 12px;
  background-color: var(--white);
  scrollbar-width: none;
  cursor: grab;
  user-select: none;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  &--grabbing {
    cursor: grabbing;
  }

  &__list {
    @include list-reset;

    display: flex;
    width: 100%;
  }

  &__item {
    margin: 0 -10px;

    & label {
      cursor: pointer;
    }
    & input {
      @include visually-hidden;
    }

    & span {
      box-sizing: border-box;
      display: inline-block;
      font-size: 20px;
      line-height: 1.2;
      padding: 14px;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & input:checked + span {
      background-color: #313131;
      color: var(--white);
    }
  }
}
