.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  overflow: hidden;

  @include media-min($lg) {
    --max-width: #{vw(992, 1440)};
    --padding-side: #{vw(230, 1440)};
    width: min(var(--max-width), 100% - (var(--padding-side) * 2));
    margin: 0 auto;
    margin-top: auto;
    margin-bottom: rem(30);
  }
}
.price-line {
  overflow-x: auto;

  padding: 4px 12px;
  background-color: var(--white);
  scrollbar-width: none;
  cursor: grab;
  user-select: none;
  scroll-behavior: smooth;
  width: 100%;

  @include media-min($lg) {
    border-radius: 1000px;
    max-width: vw(970, 1440);
    width: auto;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &--grabbing {
    cursor: grabbing;
    scroll-behavior: auto;
  }

  &__list {
    @include list-reset;

    display: flex;
    width: 100%;
  }

  &__item {
    margin: 0 -10px;

    & label {
      cursor: pointer;
    }
    & input {
      @include visually-hidden;
    }

    & span {
      box-sizing: border-box;
      display: inline-block;
      font-size: 20px;
      line-height: 1.2;
      padding: 14px;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & input:checked + span {
      background-color: #313131;
      color: var(--white);
    }
  }
}

.price-buttons {
  display: flex;
  gap: rem(4);

  @include media-min($lg) {
    display: none;
  }

  & > div {
    width: 32px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.price-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(40);
  padding: 0 rem(20);

  @include media-min($lg) {
    margin-top: auto;
    justify-content: center;
    width: auto;
    padding: 0;
  }
  &__note {
    font-size: 20px;
    text-align: center;
    color: #3e3b3a;
  }
}

[data-delivery-edit] {
  flex-grow: 0;
}

[data-delivery-edit] ~ .price {
  margin-top: 0;
}

.price-count {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 38px;
  color: var(--black);
  margin-bottom: rem(16);
}
