.quiz {
  &__screen {
    &.isActive {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }

  &.screen {
    display: none;
  }

  &__top {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &--row {
      flex-direction: row;
      align-items: flex-start;
      --max-width: #{vw(960, 1440)};
      --padding-side: #{vw(240, 1440)};

      width: min(var(--max-width), 100% - (var(--padding-side) * 2));
      margin: 0 auto;

      gap: 18px;
    }

    &--ai-center {
      align-items: center;
    }

    &--ji-center {
      justify-content: center;
    }

    &--grow-0 {
      flex-grow: 0;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;

    @include media-min($lg) {
      display: none;
    }
  }

  &__subtitle {
    @include media-min($lg) {
      font-size: 40px;
      line-height: 1.2;
      text-align: center;
      position: relative;
      z-index: 1;
    }

    &--03 {
      margin: rem(16) 0 rem(50);
    }
  }
}
