.screen {
  padding-top: rem(100);
}

.quiz {
  &__screen {
    position: relative;
    z-index: 1;
    &.screen {
      display: none;

      &.isActive {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }

    // Специально для get-certificate экранов
    &[data-screen-get-certificate] {
      display: none;

      &.isActive {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }

    &--five.isActive {
      & ~ .create-design__navigation {
        @include media-max($lg) {
          display: none;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    z-index: 2;

    &.hidden {
      display: none;
    }
  }

  &__top {
    position: relative;
    z-index: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &--row {
      gap: 18px;
    }

    &--ai-center {
      align-items: center;
    }

    &--ji-center {
      justify-content: center;
    }

    &--grow-0 {
      flex-grow: 0;
    }

    &--get-certificate {
      --max-width: #{vw(500, 1440)};
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    margin-bottom: rem(60);
    align-items: center;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 1.2;
    @include media-min($lg) {
      font-size: 40px;
      line-height: 1.2;
      text-align: center;
      position: relative;
      z-index: 1;
    }

    &--03 {
      margin: rem(16) 0 rem(50);
    }
  }
}
