.three {
  &__content {
    padding: 0 rem(16);
    @include media-min($lg) {
      padding: 0;
      display: flex;
    }

    &--main {
      flex-direction: row;
      align-items: flex-start;

      @include media-min($lg) {
        --max-width: #{vw(960, 1440)};
        --padding-side: #{vw(240, 1440)};

        width: min(var(--max-width), 100% - (var(--padding-side) * 2));
        margin: 0 auto;
      }
    }

    &--edit {
      @include media-min($lg) {
        --max-width: #{vw(430, 1440)};
        --padding-side: #{vw(500, 1440)};
        width: min(var(--max-width), 100% - (var(--padding-side) * 2));
        padding: 0;
        margin: 0 auto;
      }
      & .three__certificate {
        display: none;
      }
    }
  }

  &__certificate {
    @include media-max($lg) {
      margin: 0 auto;
      max-width: vw(220, 375);
      margin-bottom: rem(16);
    }

    @include media-min($lg) {
      margin-right: rem(30);
    }
  }
}
