.certificate-unbox {
  padding-top: rem(170);

  &__container {
    @include media-min($lg) {
      --max-width: #{vw(1110, 1440)};
      --padding-side: #{vw(240, 1440)};
      width: min(var(--max-width), 100% - (var(--padding-side) * 2));
      margin: 0 auto;
    }
  }

  &__container {
    flex-grow: 1;
    display: grid;
  }

  &__inner {
    position: relative;
    display: grid;
    height: 100%;
    grid-auto-rows: min-content 1fr;

    padding: rem(40) 0;

    @include media-max($lg) {
      max-width: 400px;
      margin: 0 auto;
    }

    @include media-min($lg) {
      justify-content: center;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__envelope {
    transform: rotate(-15deg);
    margin: 0 auto;
    z-index: 1;
    max-width: vw(250, 375);

    @include media-min($lg) {
      max-width: vw(500, 1440);
      transform: rotate(-10deg);
    }
  }

  &__text {
    line-height: 1.2;
    color: #12612e;
    font-size: 38px;
    letter-spacing: -0.01em;

    @include media-min($lg) {
      letter-spacing: -0.01em;
      font-size: 80px;
    }

    [data-hidden] {
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    &--one {
      text-align: right;
      position: absolute;
      left: -15%;
      bottom: 95%;
      z-index: 3;

      @include media-min($lg) {
        left: -44%;
        bottom: 76%;
      }
    }

    &--two {
      position: absolute;
      z-index: 3;
      bottom: -48%;
      right: -10%;

      @include media-min($lg) {
        bottom: -31%;
        right: -67%;
      }

      @include media-min($xxl) {
        bottom: -19%;
        right: -52%;
      }
    }
  }

  &__foot {
    @include media-min($lg) {
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: 3;
      max-width: rem(684);
      width: 100%;
      margin-left: auto;
      margin-left: 50%;
      bottom: rem(120);
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;

    @include media-max($lg) {
      width: 100%;
      padding: 0 16px;
    }
    @include media-min($lg) {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  &__sender {
    @include media-min($lg) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 16px;
    }
  }

  &__button {
    width: 100%;

    @include media-max($lg) {
      margin-bottom: 14px;
    }

    @include media-min($lg) {
      position: absolute;
      max-width: 327px;
      right: -70%;
      bottom: 0;
    }

    @include media-min($xl) {
      right: -67%;
      max-width: 427px;
    }

    @include media-min($xxl) {
      right: -52%;
    }
  }
}
