.create-design {
  height: min-content;
  overflow: visible;
  & .swiper-slide {
    height: min-content;
    display: flex;
    max-width: vw(250, 375);
    @include media-min($lg) {
      max-width: vw(450, 1440);
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
  }
  &__card {
    position: relative;
    padding-bottom: 64%;
    width: 100%;

    @include media-min($lg) {
      padding-bottom: 63%;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
    display: flex;
    height: min-content;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;

    &--detail {
      opacity: 0;
    }

    &--preview {
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;

      @include media-min($lg) {
        & img {
          transform: scale(1.4);
        }
      }
    }
  }

  &__background {
    width: 100%;
    border-radius: 24px;
    max-width: vw(250, 375);
    height: 100%;
    box-shadow: 0 98px 30px -76px rgba(194, 189, 243, 0.9);
    background: var(--checked-background-color);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include media-min($lg) {
      max-width: vw(450, 1440);
    }

    @include media-min($xl) {
      max-width: vw(450, 1440);
    }
  }

  &__certificate {
    display: flex;
    width: 100%;
    border-radius: 24px;

    box-shadow: 0 98px 30px -76px rgba(194, 189, 243, 0.9);
    background: var(--checked-background-color);
    flex: 1 1 100%;

    &--max-width {
      max-width: vw(450, 1440);
      height: 90%;
    }

    & img {
      display: flex;
    }
  }
}

[data-to-slide] {
  width: 32px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include media-min($lg) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
  }
}

[data-to-slide='prev'] {
  left: rem(50);
}

[data-to-slide='next'] {
  right: rem(50);
}

.slider-buttons {
  display: flex;
  gap: 8px;
}

.slider-navigation {
  color: var(--black);

  @include media-min($lg) {
    color: var(--white);
  }
}
