.create-design {
  & .swiper-slide {
    max-width: vw(218, 375);
    @include media-min($lg) {
      max-width: vw(450, 1440);
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-between;
  }
  &__card {
    position: relative;
    padding-bottom: 70%;
    width: 100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;

    &--preview {
      opacity: 0;
    }
  }

  &__background {
    width: 100%;
    border-radius: 24px;
    max-width: vw(218, 375);
    height: 90%;
    box-shadow: 0 98px 30px -76px rgba(194, 189, 243, 0.9);
    background: var(--checked-background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include media-min($xl) {
      max-width: vw(450, 1440);
    }
  }

  &__certificate {
    display: flex;
    width: 100%;
    border-radius: 24px;

    box-shadow: 0 98px 30px -76px rgba(194, 189, 243, 0.9);
    background: var(--checked-background-color);
    flex: 1 1 100%;

    &--max-width {
      max-width: vw(450, 1440);
      height: 90%;
    }

    & img {
      display: flex;
    }
  }
}

[data-to-slide] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

[data-to-slide='prev'] {
  left: rem(50);
}

[data-to-slide='next'] {
  right: rem(50);
}
