.success {
}

.envelope {
  position: relative;
  padding: rem(20);
  transform: rotate(10deg);

  &__back,
  &__up {
    position: absolute;
    bottom: rem(-60);
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__cover {
    position: absolute;
    top: -40%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &__back {
    z-index: 0;
  }

  &__up {
    z-index: 2;
  }

  &__certificate {
    position: relative;
    z-index: 1;
  }
}
