.btn {
  @include btn-reset;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button-navigation {
  position: absolute;
  font-size: 16px;
  text-align: center;
  padding: 14px 25px;
  border-radius: 100px;
  bottom: rem(60);
  z-index: 3;
}

.button-navigation--prev {
  left: vw(96, 1440);
  background-color: var(--white);
}

.button-navigation--next {
  right: vw(96, 1440);
  color: var(--white);
  background: linear-gradient(180deg, #323232 0%, #1a1a1a 100%);
}

.button-navigation--save {
  display: none;
  right: vw(96, 1440);
  color: var(--white);
  background: linear-gradient(180deg, #323232 0%, #1a1a1a 100%);

  &.is-visible {
    display: inline-flex;
  }
}
