.btn {
  @include btn-reset;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.button-navigation {
  position: absolute;
  font-size: 16px;
  text-align: center;
  padding: 14px 25px;
  border-radius: 100px;
  bottom: rem(30);
  z-index: 2;

  @include media-min($lg) {
    bottom: rem(60);
  }
}

.button-navigation--prev {
  left: rem(16);
  background-color: var(--white);

  @include media-min($lg) {
    left: vw(96, 1440);
  }
}

.button-navigation--next {
  right: rem(16);
  color: var(--white);
  background: linear-gradient(180deg, #323232 0%, #1a1a1a 100%);
  @include media-min($lg) {
    right: vw(96, 1440);
  }
}

.button-navigation--save {
  display: none;
  right: vw(96, 1440);
  color: var(--white);
  background: linear-gradient(180deg, #323232 0%, #1a1a1a 100%);

  &.is-visible {
    display: inline-flex;
  }
}

.btn-close {
  color: var(--black);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-min($lg) {
    opacity: 0.6;
    width: 32px;
    height: 32px;
  }
}
