.site {
  &__container {
    display: flex;
    flex-direction: column;
    min-height: calc(100 * var(--vh, 1vh));
  }

  &__header {
    flex-shrink: 0;
    display: none;
    justify-content: space-between;
    padding: vh(40, 825) vw(48, 1440);

    @include media-min($lg) {
      display: flex;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__footer {
    flex-shrink: 0;
  }
}
