.site {
  overflow-x: hidden;
  &__container {
    display: flex;
    flex-direction: column;
    min-height: calc(100 * var(--vh, 1vh));
  }

  &__header {
    flex-shrink: 0;
    padding: rem(20) rem(20);
    margin-bottom: rem(28);

    @include media-min($lg) {
      padding: vh(40, 825) vw(48, 1440);
      margin-bottom: 0;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__footer {
    flex-shrink: 0;
  }
}
