body {
  min-width: var(--min-site-width);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.logo {
  opacity: 0.5;
  color: var(--black);
}

.background1-1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}

.background1-2 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}

.background1-3 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
}

.background2-1 {
  position: absolute;
  left: 0;
  top: 0;

  pointer-events: none;

  z-index: 1;
}

.background2-2 {
  position: absolute;
  right: 0;
  top: 0;

  pointer-events: none;
  z-index: 1;
}

.video-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 100dvh;

  & video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.link-social {
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #323232 0%, #1a1a1a 100%);
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.choices__list {
  z-index: 3;
}

.input-data-delivery {
  text-align: left !important;
  justify-items: flex-start;
  text-align-last: left !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  &__input {
    text-align: left !important;
    text-align-last: left !important;
    -webkit-appearance: none !important;
    appearance: none !important;
  }
}

.choices[data-type*='select-one']::after {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0335 0.700195L5.36686 5.36686L0.700195 0.700195' stroke='black' stroke-opacity='0.4' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
  background-repeat: none;
  width: 11px;
  height: 7px;
  border-style: none;
  border-color: transparent;
}

.choices.is-open[data-type*='select-one']::after {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.69987 5.36621L5.36654 0.699544L10.0332 5.36621' stroke='black' stroke-opacity='0.4' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.background-quiz {
  display: none;
}

.quiz:has([data-screen='2'].isActive) .background-quiz,
.quiz:has([data-screen='3'].isActive) .background-quiz,
.quiz:has([data-screen='4'].isActive) .background-quiz,
.quiz:has([data-screen='5'].isActive) .background-quiz {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &--color {
    background-color: #f3f2ff;
  }

  &__desktop {
    position: absolute;
    display: none;
    @include media-min($lg) {
      display: block;
    }

    &--one {
      top: 50%;
      transform: translateY(-50%);
      left: 5%;
    }

    &--two {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__mobile {
    position: absolute;
    display: block;
    @include media-min($lg) {
      display: none;
    }

    &--one {
      top: 10%;
      left: 0;
    }

    &--two {
      right: 0;
      bottom: 0;
    }
  }
}
