body {
  min-width: var(--min-site-width);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.logo {
}

.background1-1 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;
}

.background1-2 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;
}

.background1-3 {
  position: absolute;
  right: 0;
  bottom: 0;

  pointer-events: none;
}

.background2-1 {
  position: absolute;
  left: 0;
  top: 0;

  pointer-events: none;

  z-index: 1;
}

.background2-2 {
  position: absolute;
  right: 0;
  top: 0;

  pointer-events: none;
  z-index: 1;
}
