body {
  min-width: var(--min-site-width);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.logo {
  opacity: 0.5;
  color: var(--black);
}

.background1-1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}

.background1-2 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
}

.background1-3 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
}

.background2-1 {
  position: absolute;
  left: 0;
  top: 0;

  pointer-events: none;

  z-index: 1;
}

.background2-2 {
  position: absolute;
  right: 0;
  top: 0;

  pointer-events: none;
  z-index: 1;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.link-social {
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #323232 0%, #1a1a1a 100%);
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.choices__list {
  z-index: 3;
}

.input-data-delivery__input {
  text-align: left;
}
